[submodule "vim/vim/bundle/fugitive"]
	path = vim/vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/unimpaired"]
	path = vim/vim/bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "vim/vim/bundle/surround"]
	path = vim/vim/bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/liquid"]
	path = vim/vim/bundle/liquid
	url = http://github.com/tpope/vim-liquid.git
[submodule "vim/vim/bundle/snipmate"]
	path = vim/vim/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "vim/vim/bundle/repeat"]
	path = vim/vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vim/bundle/textobj-user"]
	path = vim/vim/bundle/textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "vim/vim/bundle/textobj-rubyblock"]
	path = vim/vim/bundle/textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim/vim/bundle/gundo"]
	path = vim/vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/vim/bundle/pep8"]
	path = vim/vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "vim/vim/bundle/makegreen"]
	path = vim/vim/bundle/makegreen
	url = https://github.com/reinh/vim-makegreen.git
[submodule "vim/vim/bundle/vim-slim"]
	path = vim/vim/bundle/vim-slim
	url = git://github.com/bbommarito/vim-slim.git
[submodule "vim/vim/bundle/vim-gemfile"]
	path = vim/vim/bundle/vim-gemfile
	url = git://github.com/tobiassvn/vim-gemfile.git
[submodule "vim/vim/bundle/easytags"]
	path = vim/vim/bundle/easytags
	url = git://github.com/xolox/vim-easytags.git
[submodule "vim/vim/bundle/tagbar"]
	path = vim/vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
